.optionsContainer {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.pitchControlContainer {
  display: flex;
  width: 8*25px;
  justify-content: space-between;

  button {
    width: 50px;
    text-align: center;

  }
}

.arrows {
  display: flex;

}

.reset {
  position: absolute;
  right: 8px;
  top: 8px;
}

.allowedDirectionContainer {
  margin: 16px 0;
  font-size: 24px !important;
  display: flex;
  flex-direction: column;
}
